@import "tailwindcss";

/* @font-face {
    font-family: "GeneralSans";
    src: url("../public/fonts/GeneralSans-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    
    font-family: "GeneralSansMedium";
    src: url("../public/Fonts/GeneralSans-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

*{
    font-family: GeneralSansMedium;
} */